<H1>{{MAController.title}}</H1>
</br>
<H1>List of Martial Arts</H1>
</br>
</br>

<ul class="tinyTitle">
    <li ng-repeat="mart  in MAController.martialArts" ><a ng-href={{"http://localhost:5000/#/martialart/"+mart._id}}>{{mart.name}}</a></li>
</ul>

<form name="vm.gameForm" ng-submit="vm.addGame()" >

    To add a new martial art please fill in all the fields below:<BR/>

    Name: <input type="text" name="title" required ng-model="vm.newGameTitle" style="color:black"/><BR/>

    Origin: <input type="text" name="price" required ng-model="vm.newGamePrice" style="color:black"/><BR/>

    Invention Date: <input type="text" name="year" required ng-model="vm.newGameYear" style="color:black"/><BR/>

    Desription: <input type="text" name="rating" required ng-model="vm.newGameRating" style="color:black"/><BR/>

    Self defense effiiency: <input type="text" name="minPlayers" required ng-model="vm.newGameMinPlayers" style="color:black"/>

    <span ng-show="vm.gameForm.minPlayers.$dirty && vm.gameForm.minPlayers.$invalid && vm.gameForm.isSubmitted" style="color:black">Minimum players must be at least 1.</span>

    <BR/>

    Danger on opponent: <input type="text" name="maxPlayers" required ng-model="vm.newGameMaxPlayers" style="color:black"/><BR/>

    Minimum Recommended Player Age: <input type="text" name="minAge" required ng-model="vm.newGameMinAge" style="color:black"/><BR/>

    Designer name: <input type="text" name="designer" required ng-model="vm.newGameDesigner" style="color:black"/><BR/>

    <button type="submit" class="btn-success">Add Game</button><BR/>

</form>