<H1>{{MAController.title}}</H1>
</br>
<H1>List of Martial Arts</H1>
</br>
</br>

<ul class="tinyTitle">
    <li ng-repeat="mart  in MAController.martialArts" ><a ng-href={{"http://localhost:5000/#/martialarts/"+mart._id}}>{{mart.name}}</a></li>
</ul>

<form name="MAController.addMaForm" ng-submit="MAController.addMartialArt()" >

    To add a new martial art please fill in all the fields below:<BR/>

    Name: <input type="text" name="title" required ng-model="MAController.maname" style="color:black"/><BR/>

    Origin: <input type="text" name="price" required ng-model="MAController.maorigin" style="color:black"/><BR/>

    Invention Date: <input type="number" name="year" required ng-model="MAController.mainventionDate" style="color:black"/><BR/>

    <div>CAracteristics:</div>

    Desription: <input type="text" name="rating" required ng-model="MAController.maDescription" style="color:black"/><BR/>

    Usage of weapons: <select required ng-model="MAController.maWeapons" style="color:black" name="weapons" id="cars">
        <option value="without">without</option>
        <option value="with">with</option>
      </select>
    
    
    
    <!-- <input type="text" name="rating" required ng-model="MAController.maWeapons" style="color:black"/><BR/> -->
    <BR/>
    Self defense efficiency: <input type="number" name="minPlayers" required ng-model="MAController.maselfDefEff" min=1 max=10 style="color:black"/>

    <BR/>

    Danger on opponent: <input type="number" name="maxPlayers" required ng-model="MAController.maDangerOpp" min=1 max=10 style="color:black"/><BR/>

    <div>Hall  of fame:</div>
    
    Name: <input type="text" name="minAge" required ng-model="MAController.maHofName" style="color:black"/><BR/>

    Origin: <input type="text" name="designer" required ng-model="MAController.maHofOrigin" style="color:black"/><BR/>

    Trophies: <input type="text" name="designer" required ng-model="MAController.maHoftrophies" style="color:black"/><BR/>

    <button type="submit" class="btn-success">Add Martial art</button><BR/>

</form>